.dropzone {
  height: 300px;
  background: #E1FAEC;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  outline: 0;
}

.dropzone img {
  transform: scale(1.11);
  width: calc(100%);
  height: calc(100%); 
  object-fit: cover;
  border-radius: 10px;
}

@keyframes bounce {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes moveUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

.drag-here {
  animation-name: bounce;
  animation-duration: 300ms;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.border-success {
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  border-radius: 10px;
  border: 1px dashed #4ECB79;
  position: relative;
}

.border-error {
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  border-radius: 10px;
  border: 1px dashed rgb(203, 78, 78);
  position: relative;
}

.dropzone p {
  width: calc(100% - 10px);
  height: calc(100% + 20px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4ECB79;

}

.dropzone .sucess-icon {
  position: absolute;
  bottom: 52%;
  left: 46%;
  display: flex;
  color: rgba(78, 203, 122, 0.966);
  width: 24px;
  height: 24px;

  animation-name: moveUp;
  animation-duration: 300ms;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.dropzone .sucess-icon-hide {
  opacity: 0;
  visibility: hidden;
}

.dropzone .err-icon {
  position: absolute;
  bottom: 52%;
  left: 46%;
  display: flex;
  color: rgb(203, 78, 78);
  width: 25px;
  height: 25px;

  animation-name: moveUp;
  animation-duration: 300ms;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.dropzone .err-icon-hide {
    opacity: 0;
    visibility: hidden;
}

.dropzone .error {
  color: rgb(203, 78, 78);

  animation-name: bounce;
  animation-duration: 300ms;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}